body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222629;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.474);  /* Black color with low opacity */
  backdrop-filter: blur(8px);  /* Add blur effect */
}

nav {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px; /* Adjust the width as needed */
  height: 100vh; /* Full viewport height */
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.474);
  padding: 8px;
}
nav a {
  text-decoration: none;
  color: inherit; /* Ensures the text color is inherited from parent styles */
}

nav a:hover {
  text-decoration: none;
  color: inherit;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-left: 5px;
}
.log{
  color: #ff0000;
}

.nav-center {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 120px;
  padding-left: 20px;
}

.nav-center li {
  margin: 40px 0; /* Adjust the spacing between menu items as needed */
  position: relative; /* Position relative for icon placement */
}
.nav-item {
  margin: 25px 0; /* Adjust the spacing between menu items as needed */
  position: relative; /* Position relative for icon placement */
  display: flex;
  align-items: center;
}

.nav-icon {
  position: absolute;
  left: -15px; /* Position the icons on the line */
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #ff0000; /* Default icon background */
  border-radius: 50%; /* Make the icons circular */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.nav-icon img {
  width: 20px; /* Adjust the icon size as needed */
  height: 20px;
}
.nav-text {
  color: #ff0000;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 30px; /* Space between icon and text */
}

.nav-item.active .nav-icon {
  background-color: #ffffff; /* Highlight active section icon */
}
.nav-item.active .nav-text {
  color: #ffffff; /* Highlight active section text */
}

/* Adjust content padding to not overlap with the fixed nav */
#intro, #about, #certifications, #skills, #projects,#contact,#footer{
  padding-left: 230px; /* Adjust this value based on nav width */
}

#intro {
    background: linear-gradient(to right, #222629 50%, #ff0000 50%);
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}
/*slant*/
#intro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: inherit;
  transform: skewX(-50deg);
  transform-origin: top left;
}
.intro-text, .intro-photo {
  z-index: 1;
}

.intro-text {
    margin-left: 43px;
    position: relative;
    flex: 1;
    text-align: left;
    padding-top: 205px;
}
.intro-text h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}
.intro-text h3{
  color: #6B6E70;
}
.intro-text{
  color: #6B6E70;
}

.intro-photo img {
    padding-top: 90px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    filter: drop-shadow(10px 10px 80px black);
}

/* Intro button */
button {
  margin-top: 40px;
  position: relative;
  padding: 12px 30px;
  background: red;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 0 white;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #ff0000);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #ff0000);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #ff0000);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #ff0000);
  z-index: -5;
  transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}
.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #ff0000);
  z-index: -5;
  transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}
.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #ff0000);
  z-index: -5;
  transition: all .8s ease;
}
button:hover {
  background: white;
  color: red;
  box-shadow: 0 0 25px #ff0000;
}
button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #ff0000);
  z-index: 2;
}
button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #ff0000);
  z-index: 2;
}
button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #ff0000);
  z-index: 2;
}
button:hover .stars {
  display: block;
  filter: drop-shadow(0 0 10px #ff0000);
}
button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #ff0000);
  z-index: 2;
}
button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #ff0000);
  z-index: 2;
}
button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #ff0000);
  z-index: 2;
}
.fil0 {
  fill: #ff0000
}


/* About me Section */
.about-content{
  margin-left: 180px;
}
.about-text{
  color: #ffffff;
  max-width: 900px;
}
#about h1{
  color: #6B6E70;
  font-size: 2rem;
}

.about-text p{
  margin-left: 40px;
  margin-bottom: 40px;
}
.about-text h3 {
    margin-top: 0;
    margin-left: 0px;
    overflow: hidden; /* Ensures the text is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation:
      typing 3.5s steps(40, end) infinite,
      blink-caret .75s step-end infinite;
}
/* Typing Animation Keyframes */
@keyframes typing {
  0% {
      width: 0;
  }
  50% {
      width: 100%;
  }
  100% {
      width: 0;
  }
}

/* Blinking Cursor Animation */
@keyframes blink-caret {
  from,
  to {
      border-color: transparent
  }

  50% {
      border-color: red
  }
}
.education-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.education-card {
  display: block;
  background: #222629;
  border-radius: 20px;
  overflow: hidden;
  width: 30%;
  position: relative; /* Added for proper animation */
  z-index: 0; /* Added for proper animation */
}
.education-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -4px;
  left: -4px;
  background: white;
  height: 80px;
  width: 80px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.education-card:hover:before {
  transform: scale(21);
}

.education-card:hover {
p {
  transition: all 0.3s ease-out;
  color: #222629;
}
h4 {
  transition: all 0.3s ease-out;
  color: #de0b0b;
}
}

.education-card img {
  width: 70px; /* Adjust size as needed */
  height: 70px; /* Adjust size as needed */
  margin: 2px 0px 0px 2px;
}

.education-card .education-details {
  padding: 15px;
}
.education-details{
  color: white;
}
.education-details p{
  margin: 0px 0px 5px 15px;
}
.education-card h4 {
  margin: 10px 0;
}


/* projects */
#projects {
  text-align: left;
  padding: 0px 0px 0px 230px;
}
.project-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
  gap: 100px;
}

#projects h1{
  color: #6B6E70;
  font-size: 2rem;
}
#projects h3{
  color: white;
  font-size: 1.5rem;
}
.project-content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.project-h {
  flex: 1;
  padding: 20px;
}
.project-h p{
  color: white;
}

.project {
  color: #0a0a0a;
  border-radius: 8px;
  padding: 20px;
  max-width: 280px;
  text-align: center;
  flex: 1;
}
.project-image {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure the images are positioned relative to this container */
  height: 700px; /* Adjust height as needed to contain the larger images */
  border-radius: 10px;
  width: 200px;
}
.project-image img {
  width: 100%; /* Ensure images take up the full width of the container */
  max-width: 600px; /* Increase max-width to make the images larger */
  max-height: 100%;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  margin-bottom: 30px;
}
.project-image img.active {
  opacity: 1;
}

.project-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.project-content span{
  color: #ff0000;
}
.project-content.active {
  opacity: 1;
  max-height: 1000px; /* Arbitrarily large value to allow full content to show */
}
.project-h h2 {
  margin-bottom: 10px;
  cursor: pointer;
  color: #6B6E70;
}
.project-h h2:hover{
  filter: drop-shadow(1px 1px 5px red);
}
h2[data-target] {
  cursor: pointer;
}

.gradient-text {
  background: linear-gradient(45deg, red, #6B6E70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-link {
  background: linear-gradient(20deg, red, #6B6E70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* Ensures the gradient is applied correctly */
}
.view-all-projects {
  text-align: center; /* Center the container */
  margin: 20px 0; /* Add some margin for spacing */
}
.view-all-projects-button {
  margin-top: 80px;
  display: inline-block; /* Ensures the button is treated as an inline block element */
  padding: 10px 20px; /* Add padding for a better appearance */
  background-color: #ff0000; /* Background color for the button */
  color: white; /* Text color for the button */
  border: none; /* Remove default border */
  border-radius: 25px; /* Add rounded corners */
  text-decoration: none; /* Remove underline from the link */
  font-size: 16px; /* Adjust font size */
  transition: background-color 0.3s; /* Smooth transition for background color change */
}
.view-all-projects-button:hover {
  color: #ff0000;
  background-color: white; /* Darker background color on hover */
  filter: drop-shadow(1px 1px 20px red);
}




#certifications, #skills, #projects, #contact{
    text-align: left;
}



/* Section: Skills */
#skills {
  text-align: left;
  color: #6B6E70; /* Main title color */
  padding-bottom: 50px;
}

.main-title {
  font-size: 2em;
  margin-bottom: 70px;
}

.skills-section {
  margin-bottom: 40px;
  margin-left: 60px;
}

.section-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: red; /* Section title color */
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.technical-skills {
  display: flex;
  gap: 40px; /* Adjust the gap as needed */
}

.skill-category {
  margin-bottom: 20px;
}

.skill-category h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: white; /* Skill category title color */
}

.skills-list {
  text-align: left; /* Align skills list items to the left */
  
}

.skill-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.skill-item i {
  margin-right: 10px;
  font-size: 1.5em;
}

.icon {
  width: 20px; /* Adjust icon size as needed */
  height: 20px; /* Adjust icon size as needed */
  margin-right: 10px;
}

/* Animation for the headings */
@keyframes colorWave {
  0% {
    color: #ff0000;
  }
  25% {
    color: white;
  }
  50% {
    color: white;
  }
  75% {
    color: white;
  }
  100% {
    color: #ff0000;
  }
}

.animated-heading {
  animation: colorWave 4s linear infinite;
}

/* Stagger the animation delays */
.technical-skills .skill-category:nth-child(1) .animated-heading {
  animation-delay: 0s;
}

.technical-skills .skill-category:nth-child(2) .animated-heading {
  animation-delay: 1s;
}

.technical-skills .skill-category:nth-child(3) .animated-heading {
  animation-delay: 2s;
}

.technical-skills .skill-category:nth-child(4) .animated-heading {
  animation-delay: 3s;
}


/* Section: Certifications */
#certifications {
  text-align: left;
  color: #6B6E70; /* Main title color */
  padding-bottom: 50px;
}

#certifications h1 {
  font-size: 2em;
  margin-bottom: 70px;
}

.certification-list {
  margin-left: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 0px;
}

.certification-item {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 10px;
  width: 550px;
  transition: filter 0.3s ease;
}

.certification-photo {
  width: 40%;
}

.certification-details {
  text-align: center;
}

.certification-details h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: red;
}

.certification-details p {
  margin: 5px 0;
  color: #555;
}

.certification-details a {
  display: inline-block;
  margin-top: 10px;
  color: red;
  text-decoration: none;
  border: 1px solid red;
  border-radius: 4px;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.certification-details a:hover {
  background-color: red;
  color: #fff;
}

/* Hover effect */
.certification-item:hover {
  filter: none; /* Remove blur on hovered card */
}


.certification-list:hover .certification-item:not(:hover) {
  filter: blur(5px); /* Ensure blur is applied only when hovering over the list */
}


/* contact */
#contact h1{
  font-size: 2em;
  margin-bottom: 70px;
  color: #6B6E70;
}
.contact-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; 
}

.contact-form {
  flex: 1; /* Take remaining space */
  padding: 20px; /* Example padding */
  margin-right: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 7px;
}
.form-group label {
  margin-bottom: 5px;
  color: red;
  font-weight: bold;
  margin-left: 10px;
}
.form-group input,
.form-group textarea {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 40px;
  font-size: 1em;
}

.contact-image {
  flex: 1; /* Take remaining space */
  text-align: center; /* Center image horizontally */
}

.contact-image img {
  max-width: 60%; /* Ensure image doesn't exceed its container */
  margin-right: 90px;
}


/* footer */
footer {
  background-color: red;
  color: #fff;
  padding: 5px 0;
  position: relative;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  padding-left: 230px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h4 {
  padding-bottom: 3px;
  margin-bottom: 10px;
  color: #0a0a0a;
  font-weight: bolder;
  font-size: 1.2rem;
}
.footer-section span {
  color: #0a0a0a;
  font-weight: bolder;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.coding {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.coding-icons {
  display: flex;
  gap: 15px; /* Adjust the space between the icons */
}

.coding-icon {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.coding-icon:hover {
  filter: drop-shadow(2px 2px 15px black);
}
.coding-icon img {
  width: 35px; /* Adjust the size of the icons as needed */
  height: auto; /* Maintain aspect ratio */
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-icons {
  display: flex;
  gap: 25px; /* Adjust the space between the icons */
}

.social-icon {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.social-icon:hover {
  filter: drop-shadow(2px 2px 15px black);
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 30px;
  position: relative;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 15px;
  background-color: #222629;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.footer-bottom a:hover {
  background-color: white;
  color: #ff0000;
}







/* Media Queries for Mobile Responsiveness */
@media (max-width: 480px) {
  .logo {
    display: none;
  }

  #intro h3::before {
    content: 'My Portfolio';
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  .intro-text{
    padding:0px 10px 0px 10px;
  }
  nav{
    position: fixed; /* Fix navbar position */
    background-color: transparent;
    width: 38px;
    z-index: 999;
  }

  .nav-text {
    display: none;
  }
  .nav-center li {
    margin: 70px 0; /* Adjust as needed */
  }

  .nav-icon {
    margin-right: 0;
  }

  #intro {
    flex-direction: column;
    padding: 10px;
  }
  .intro-text h1{
    font-size: 2.3rem;
  }
  /* slant */
  #intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 450%;
    background: inherit;
    transform: skewX(-51deg);
    transform-origin: top left;
  }
  .intro-text, .intro-photo {
    z-index: 1;
  }

  .intro-photo img {
    width: 300px;
    height: 300px;
    margin-left:20px;
    margin-bottom: 10px;
    padding: 20px 0px 0px 0px;
  }

  button {
    padding: 10px 16px;
    font-size: 12px;
  }
  /* About me Section */
  #about{
    flex-direction: column;
    padding: 10px 0px 10px 35px;
  }
  .about-content {
    margin-left: 0; /* Remove left margin on mobile */
    padding: 20px; /* Add padding for better spacing */
  }

  .about-text {
    color: #ffffff;
    max-width: 300%; /* Ensure text does not overflow on smaller screens */
  }

  #about h1 {
    color: #6B6E70;
    font-size: 1.8rem; /* Adjust heading size for better readability */
    margin-left: 17px;
  }

  .about-text p {
    margin-left: 0; /* Remove left margin for paragraphs */
    margin-bottom: 20px; /* Adjust margin bottom */
    font-size: .9rem;
  }

  .education-cards {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
    justify-content: space-around;
    margin-top: 20px;
  }

  .education-card {
    width: 100%; /* Full width on mobile */
    margin-bottom: 15px; /* Adjust margin between cards */
  }

  .education-card img {
    width: 70px; /* Adjust image size */
    height: 70px; /* Adjust image size */
    margin: 0 10px 0 0; /* Adjust margin */
  }

  .education-card .education-details {
    padding: 10px; /* Adjust padding */
  }
  .education-details p{
    padding: 0px;
    margin-bottom: 4px;
  }
  /* projects */
  #projects {
    padding: 0px 0px 0px 60px; /* Adjust padding for better spacing */
  }
  
  .project-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 20px; /* Adjust gap between items */
    align-items: center; /* Center items horizontally */
  }
  

  .project-image {
    order: -1; /* Place the images above the project descriptions */
    padding: 100px; /* Remove padding around images */
    height: auto; /* Adjust height to fit content */
    width: 300%; /* Ensure the container takes full width */
    display: flex;
    justify-content: center;
    position: relative;
  }

  .project-image img {
    width: 100%; /* Ensure images take up full width */
    max-width: 300px; /* Adjust max-width to fit smaller screens */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add border radius */
    opacity: 0; /* Ensure images are fully visible */
    margin-bottom: 0px; /* Adjust margin as needed */
    position: absolute;
  }
  .project-image img.active{
    opacity: 1;
  }

  .project-h {
    padding: 10px; /* Adjust padding inside project headings */
    text-align: left; /* Center text */
  }

  .project-h h2 {
    font-size: 1.2rem; /* Adjust font size */
  }

  .project-h h2 {
    margin-bottom: 0px; /* Adjust margin */
  }

  .project-content {
    opacity: 0; /* Ensure content is visible */
    overflow: hidden; /* Allow content to overflow if needed */
    display: block; /* Ensure content is displayed */
    gap: 10px; /* Adjust gap between items */
  }

  .project-content p {
    margin-bottom: 10px; /* Adjust margin */
  }

  .project-content a {
    display: block; /* Ensure link takes up full width */
    text-align: center; /* Center text */
  }

  .view-all-projects-button {
    margin-top: 30px; /* Adjust top margin */
    padding: 12px 24px; /* Adjust padding */
    font-size: 14px; /* Adjust font size */
  }
  /* skill */
  #skills {
    padding: 0px 0px 50px 60px; /* Adjust padding for better spacing */
  }
  #skills h1{
    font-size: 2rem;
    margin-bottom: 0;
  }
  .skills-section{
    margin: 0px;
  }

  .section-title {
    font-size: 1.5em;
  }
  .skill-category {
    margin-right: 1px; /* Decrease the gap between skill categories */
  }

  .skill-category h3 {
    font-size: .7em;
  }

  .skill-item {
    font-size: 0.9em;
    max-width: 150px;
  }

  .skill-item i {
    font-size: 1.2em; /* Decrease icon size */
  }

  .skill-item img.icon {
    width: 13px; /* Decrease icon size */
    height: 13px; /* Decrease icon size */
  }
  .skill-item i, .skill-item img.icon {
    margin-right: 3px; /* Decrease gap between icon and text */
  }

  .technical-skills {
    gap: 10px; /* Reduce gap between categories */
  }

  .skills-list {
    font-size: .8rem;
    gap: 5px; /* Reduce gap between skills */
  }

  /* certifications */
  #certifications {
    padding: 0px 0px 0px 60px; /* Adjust padding for better spacing */
  }
  
  .certification-list {
    margin-left: 0; /* Remove left margin for better centering */
    display: block; /* Stack items vertically */
    gap: 0px; /* Adjust gap between items */
  }

  .certification-item {
    flex-direction: column; /* Stack image and details vertically */
    width: 300px; /* Ensure item takes full width */
    padding: 10px 0px 20px 0px; /* Add padding for better spacing */
    background-color: transparent;
  }

  .certification-photo {
    width: 40%; /* Reduce image width */
    margin-bottom: 5px; /* Add margin below image */
  }

  .certification-details {
    text-align: center; /* Center text */
  }

  /* contact me */
  #contact{
    padding: 0px 0px 0px 60px;
  }
  #contact h1{
    margin-bottom: 0;
  }
  .contact-container {
    flex-direction: column; /* Stack form and image vertically */
    align-items: center; /* Center items */
  }

  .contact-form {
    width: 90%; /* Ensure form takes most of the screen width */
    margin-right: 0; /* Remove right margin */
    padding: 10px; /* Reduce padding */
  }

  .form-group {
    padding: 5px; /* Reduce padding */
  }

  .form-group label {
    margin-left: 0; /* Remove left margin */
    margin-bottom: 3px; /* Reduce bottom margin */
  }

  .form-group input,
  .form-group textarea {
    padding: 10px; /* Reduce padding */
    font-size: 0.9em; /* Adjust font size */
  }

  button[type="submit"] {
    margin-left: 0; /* Remove left margin */
    width: 60%; /* Make button take full width */
    padding: 10px; /* Adjust padding */
    font-size: 1em; /* Adjust font size */
  }

  .contact-image {
    order: -1;
    width: 90%; /* Ensure image container takes most of the screen width */
    text-align: center; /* Center image horizontally */
    margin-top: 20px; /* Add margin to separate from form */
  }

  .contact-image img {
    max-width: 50%; /* Ensure image doesn't exceed its container */
    margin-right: 0; /* Remove right margin */
  }

  /* footer */
  footer{
    padding: 0px 0px 0px 60px;
  }
  .footer-container {
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Center align sections */
    padding-left: 20px; /* Adjust padding */
    padding-right: 20px; /* Add right padding */
  }

  .footer-section {
    margin-bottom: 20px; /* Add margin between sections */
    min-width: 100%; /* Make sections full width */
    text-align: left; /* Center text */
  }

  .coding-icons,
  .social-icons {
    justify-content: center; /* Center icons */
  }

  .footer-bottom {
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Add gap between elements */
  }

  .footer-bottom a {
    position: static; /* Remove absolute positioning */
    margin-top: 20px; /* Add margin on top */
  }
}